/* Note to students: Some properties are given to you to fill out,
others you can modify as they stand, and if you have time,
there are definitely some properties you should add!*/

html {
     height: 100%;
   }
   body {
      width: auto;
      height: 100%;
      background-color: grey;
   }

   header {
     background: 50%
     position:relative;
   }

   header .image {
     z-index: 1;
     position: absolute;
     width: 100%;
     height: 200px;
     top:0;
     right:0;
     bottom:0;
     left:0;
     -webkit-filter: blur(3px);
   }

       header h1 {
         z-index: 2;
         position: absolute;
         top: 10%;
         left: 0;
         right: 0;
         font-size: 40px;
         font-family: "Julius Sans One";
         color: white;
         width: 100%;
         height: 26px;
         padding: 0;
         margin: 0;
         margin-top: -13px; /* 1/2 height */
         text-align: center;
       }
    nav ul {position: relative;
            top:150px;
            font-size: 35px;
            background-color: grey;
    }
    nav li {
      color:blue;
      font-size: 20px;
      text-align: left;;
    }
    nav {
        position:static;
        line-height:40px;
        background-color:white;
        width:150px;
        display: inline-block;;
        vertical-align: center;

    }
    .dropkick {
      height:600px
    }
    .roundhouse {
    font-size: 45px;
    }
    img src=couple massage.jpg {
      height: 500px
    }
    nav ul {
        list-style-type: none;
    }
    a {
        color: ;
    }
    section {
        width: 2000px;
        display: inline-block;
        text-align: center;

    }
    article {
      font-size: 35px
    }
    aside {
      width: 125px;
      display: inline-block;
      vertical-align: top;
      background-color:;
      font-size: ;
    }
    aside ul {
        list-style-type: none;
    }
    footer {
        width: 2000px;
        background-color:;
        text-align:center;
        padding:5px;
        display: block;
    }
